<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-amber-400 gap-6">
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        As a self-taught front-end designer and developer, I take pleasure in
        crafting websites. While my focus lies predominantly in front-end
        technologies, I also find enjoyment in back-end development.
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        I am currently available for Enquires. If you need a website or a
        redesign of something that you already have, do not hesitate to get in
        contact. <a href="mailto:hasan.brkic@edi.fit.ba"
          >hasan.brkic@edu.fit.ba</a
        >
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        As a student, I don't have much time for personal projects, but I strive
        to dedicate as much time as possible to enhancing my development skills.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        My focus is on making good looking websites that function just as well
      </p>
    </div>
  </div>
</section>
